<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="poker"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/styles.css" media="all" rel="stylesheet" type="text/css" />
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    </head>
    <body>
      <!--[if lt IE 7]>
          <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
    <div class="container">
      <header>header</header>

      <div ng-controller="AccordionDemoCtrl" class="accordian">
        <label class="checkbox">
          <input type="checkbox" ng-model="oneAtATime">
          Open only one at a time
        </label>

        <accordion close-others="oneAtATime">
          <accordion-group heading="Static Header">
            This content is straight in the template.
          </accordion-group>
          <accordion-group heading="{{group.title}}" ng-repeat="group in groups">
            {{group.content}}
          </accordion-group>
          <accordion-group heading="Dynamic Body Content">
            <p>The body of the accordion group grows to fit the contents</p>
              <button class="btn btn-small" ng-click="addItem()">Add Item</button>
              <div ng-repeat="item in items">{{item}}</div>
          </accordion-group>
          <accordion-group>
              <accordion-heading>
                  I can have markup, too! <i class="icon-check"></i>
              </accordion-heading>
              This is just some content to illustrate fancy headings.
          </accordion-group>
        </accordion>
      </div>
    
      <div ng-controller="AlertDemoCtrl" class="alert">
        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
        <button class='btn' ng-click="addAlert()">Add Alert</button>
      </div>
    </div>
    <!--/.container-->
    
    <footer>
      <input type="text" ng-model="name" placeholder="Your Name">
      <p>Hello {{name}}</p>
      <script src="/bower_components/angular/angular.js"></script>
      <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
      <script src="js/app.js"></script>
    </footer>

  </body>
</html>